@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 173 100% 18%;
    --foreground: 0 0% 98%;
    --card: 173 100% 23%;
    --card-foreground: 0 0% 98%;
    --popover: 173 100% 21%;
    --popover-foreground: 0 0% 98%;
    --primary: 174 100% 29%;
    --primary-foreground: 0 0% 98%;
    --secondary: 174 42% 51%;
    --secondary-foreground: 173 100% 15%;
    --muted: 174 42% 35%;
    --muted-foreground: 174 42% 70%;
    --accent: 14 100% 63%;
    --accent-foreground: 0 0% 15%;
    --destructive: 14 100% 63%;
    --destructive-foreground: 0 0% 100%;
    --border: 174 42% 35%;
    --input: 174 42% 45%;
    --ring: 174 100% 45%;
    --radius: 0.5rem;
    --chart-1: 174 100% 29%;
    --chart-2: 174 42% 51%;
    --chart-3: 173 100% 21%;
    --chart-4: 14 100% 63%;
    --chart-5: 0 0% 98%;
  }

  .dark {
    --background: 173 100% 12%;
    --foreground: 0 0% 96%;
    --card: 173 100% 18%;
    --card-foreground: 0 0% 98%;
    --popover: 173 100% 18%;
    --popover-foreground: 0 0% 98%;
    --primary: 174 100% 55%;
    --primary-foreground: 173 100% 12%;
    --secondary: 174 42% 40%;
    --secondary-foreground: 0 0% 96%;
    --muted: 174 42% 30%;
    --muted-foreground: 174 42% 70%;
    --accent: 14 100% 63%;
    --accent-foreground: 0 0% 15%;
    --destructive: 14 100% 55%;
    --destructive-foreground: 0 0% 98%;
    --border: 174 42% 32%;
    --input: 174 42% 35%;
    --ring: 174 100% 55%;
    --chart-1: 174 100% 35%;
    --chart-2: 174 42% 51%;
    --chart-3: 173 100% 21%;
    --chart-4: 14 100% 63%;
    --chart-5: 0 0% 96%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  a:focus-visible,
  button:focus-visible,
  input:focus-visible,
  textarea:focus-visible,
  select:focus-visible {
    outline: 2px solid #4DB6AC !important;
    outline-offset: 2px;
  }
}
